video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
}

.prevent-highlight-on-click {
  -webkit-tap-highlight-color: transparent;
}

.hover-blue:hover {
  color: #2196f3;
}
