video {
  object-fit: cover;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
}

.prevent-highlight-on-click {
  -webkit-tap-highlight-color: transparent;
}

.hover-blue:hover {
  color: #2196f3;
}

#room-list::after {
  content: "";
  position: absolute;
  width: 210px;
  height: 210px;
  background: rgb(21, 101, 192);
  border-radius: 50%;
  z-index: 1;
  top: -85px;
  right: -75px;
}

#room-list::before {
  content: "";
  position: absolute;
  width: 210px;
  height: 210px;
  background: rgb(21, 101, 192);
  opacity: 0.5;
  border-radius: 50%;
  z-index: 1;
  top: -125px;
  right: -15px;
}

#contact-list::after {
  content: "";
  position: absolute;
  width: 210px;
  height: 210px;
  background: linear-gradient(210.04deg, rgb(163, 173, 176) -50.94%, rgba(144, 202, 249, 0) 83.49%);
  border-radius: 50%;
  z-index: 1;
  top: -30px;
  right: -120px;
}

#contact-list::before {
  content: "";
  position: absolute;
  width: 210px;
  height: 210px;
  background: linear-gradient(140.9deg, rgb(163, 173, 176) -14.02%, rgba(144, 202, 249, 0) 77.58%);
  border-radius: 50%;
  z-index: 1;
  top: -160px;
  right: -50px;
}

.MuiAccordionSummary-root.Mui-expanded {
  min-height: 48px;
}

.MuiAccordionSummary-content {
  order: 1;
  margin-left: 10px;
}

.MuiAccordionSummary-content.Mui-expanded {
  margin: 12px 0 12px 10px;
}

